<nav class="flex">
    <ul class="flex">
      <li>
        <a routerLink="/search" [queryParams]="search_config" routerLinkActive="active">Search</a>
      </li>
      <li>
        <a routerLink="/mcp" [queryParams]="search_config" routerLinkActive="active">Multi-Channel Page</a>
      </li>
      <li>
        <a routerLink="/hotpost-mat" [queryParams]="search_config"  routerLinkActive="active">Hot Post</a>
      </li>
      <li>
        <a routerLink="/linechart"  [queryParams]="search_config" routerLinkActive="active">Line Chart</a>
      </li>
    </ul>
</nav>
