nav {
    @apply bg-slate-300 text-cyan-900 fixed w-full top-0;
    z-index: 1000;
    ul {
        li {
            height: auto;
            a {
                display: block;
                @apply p-4 cursor-pointer;
                &:hover {
                    @apply bg-slate-400 text-cyan-50;
                }
            }
        }
    }
}