h1 {
  color: #1b9aac;
}

table {
  width: 100%;
  // width: 600px;

}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}




.mat-header-cell,
.mat-cell {
  width: 100px;
  // min-width: 100px;

  text-align: right;
  @apply px-2;

  &.hash {
    text-align: left;
    width: 50px;
    min-width: 50px;
  }
  &.from_name {
    width: 150px;
    text-align: left;

    div {
      overflow: auto;
      max-height: none !important;
    }
  }
  &.time {
    width: 150px;
    min-width: 150px;
    text-align: left;

    div {
      overflow: auto;
      max-height: none !important;
    }
  }
  &.content {
    width: auto;
    max-width: 300px;
    text-align: left;
    padding: 10px;
    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      max-height: 40px;
    }
  }


  &:first-child {
    @apply pl-4;
  }
  &:last-child {
    @apply pr-4;
  }
}

.mat-column-expandedDetail{

  padding-right: 0px !important;

  .example-element-detail {
    overflow: hidden;
    display: flex;
  }

  .example-element-diagram {
    min-width: 80px;
    // border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }

  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }

  .example-element-description {
    padding: 16px;
    flex-grow: 1;
    text-align: left;
    max-height: 400px;
    white-space: break-spaces;
    overflow: auto;
  }

  .example-element-description-attribution {
    opacity: 0.5;
  }
}

mat-paginator {
  box-shadow: 0px 5px 10px #aaa;
  // box-shadow:
  // inset -8px 0px 6px -6px #888,
  // inset 0px -8px 6px -6px #888,
  // inset 8px 0px 6px -6px #888
  // ;
}
